#index-banner {
    background-size: cover;
    height: 75vh;
    background: @black;
    position: relative;
  
    #network {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    
    .container {
      height: 80%;
      position: relative;
      
      .container-content{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
        .headerbox {
          display: inline-block;
        }
      }
    } 
}