// MATERIALIZE CSS:
// http://materializecss.com/

body,html {
  min-height: 100%;
}


#mainwrapper {
//  max-width: 900px;
  font-family: 'Abel', sans-serif;
}


footer.page-footer {
  margin: 0;
  
  li {
    svg {
      margin: 0 10px 0 0 ;
    }
  }
}

section {
  a {
    text-decoration: none;
    color: @bluegrey-lighten3;
    
    &:hover {
      border-bottom: 2px dotted @orange;
    }
  }
}