@media only screen
and (max-width : 993px) {
  #what {
    .whatcolumn {
      min-height: 330px;
    }
  }
}

@media only screen
and (max-width : 600px) {
  #how {
    .circlenum {
      float:left;
      display: inline-block;
      margin: 0 10px 0 0;
    }
    .explainstep {
      float:left;
      display: inline-block;
      width: ~"calc(100% - 60px)";
      margin: 0 0 15px 0;
    }
    
    .steps {
      .step1 {
        .step {
          &:before {
            position: absolute;
            content: '';
            height: 200%;
            border: none;
            border-left: 2px dotted @orange;
            width: 5px;
            top: 25%;
            left: 35px;
            .transition(@prop:all, @duration:1s, @type:linear);
            transform-origin: top;
            transform: scaleY(0);
          }
          &.active {
            &:before {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}

@media only screen
and (max-width : 420px) {
  #what {
    .analytics-container {
      .analytic-image {
        .image-container {
          img.analytics {
            top: 230px;
          }
        }
      }
    }
  }
}
