.clr {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.transition (@prop:all, @duration:0.5s, @type:ease-in-out) {
	-webkit-transition: @prop @duration @type;
	-moz-transition:    @prop @duration @type;
	-ms-transition:     @prop @duration @type;
	-o-transition:      @prop @duration @type;
  transition:         @prop @duration @type;
}
