.node {
  stroke: none;
  stroke-width: 1.5px;
  
  &.colored {
    stroke: #ffcc80;
    fill: @orange !important; 
    opacity: 0.75;
  }
}

.link {
  fill: none;
  stroke: rgba(255,255,255,0.3);
}


.node:not(:hover) .nametag {
  display: none;
  font-size: 30px;
}