section {
  padding: 50px 0;
  
  h1,h2,h3,h4,h5 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
  }
  
}

#what {
  .row {
    min-height: 430px;
  }
  
  .analytics-container {
    position: relative;
    width: 100%;
    
    .choices {
      width: 100%;
      max-width: 650px;
      min-width: 300px;
      position: relative;
      margin: 0 auto;
      min-height: 170px;
      
      .choice-description {
        position: absolute;
        top:0;
        max-width: 400px;
        min-height: 150px;
        border: 2px dotted @black;
        margin: 0;
        transform: scaleX(0);
        z-index: 0;
        background: @white;
        .transition();
        
        &.current {
          left: 75px;
          transform-origin: left;
          padding: 10px 10px 10px 80px;
          border-left: none;
        }
        &.semap {
          right: 75px;
          transform-origin: right;
          padding: 10px 80px 10px 10px;
          border-right: none;
        }
        
        &.active {
          border: 2px dotted @orange;
          z-index: 6;
          transform: scaleX(1);
        }
      }
      
      .choice-title {
        position: absolute;
        top:0;
        padding: 30px 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px dotted @black;
        text-align: center;
        background: @white;
        margin: 0;
        z-index: 5;
        
        &:hover {
          cursor: pointer;
        }
        
        &.current {
          left: 0;
        }
        &.semap {
          right: 0;
        }
        
        &.active {
          border: 2px dotted @orange;
          z-index: 7;
          cursor: pointer;
        }
      }
    }
    
    .analytic-image {
      position: relative;
      z-index: 1;
      .transition();
      
      .image-container {
        .transition();
        transform: scaleY(0);
        width: 100%;
        max-width: 450px;
        display: block;
        margin: 0 auto;
        
        &.active {
          transform: scaleY(1);
        }

        img.analytics {
          .transition();
          max-width: 100%;
          background: @white;
          position: absolute;
          top: 150px;
        }
      }
    }
  }
  
  .whatcolumn {
    position: relative;
    min-height: 400px;
    
    &:hover {
      .whatheader {
        background: rgba(255,255,255,0.2);
        .whattitle {
          h5 {
            left: 0;
            right: 0;
          }
        }
        .whatgraphic-exo {
          left: 0;
          .whatgraphic {
            left: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
    
    .whatheader {
      min-height: 150px;
      position: relative;
      background: rgba(255,255,255,0.8);
      .transition();
      
      .whattitle {
        position: absolute;
        left: 50%;
        margin: 0;
        
        h5 {
          position: relative;
          left: -50%;
          line-height: 150px;
          margin: 0;
          .transition();
        }
      }
    }
    
    .whatgraphic-exo {
      position: absolute;
      left: 50%;
//      max-width: 50px;
      .transition();
    
      .whatgraphic {
        height: 150px;
        max-height: 150px;
        margin: 0 auto;
        display: block;
        z-index: -1;
        position: relative;
        left: -50%;
        .transition();
      }
    }
  }
}

#about {
  background: @black;
  position: relative;
  
  h3 {
    color: @white;
  }
  
  #biobox {
    .matename {
      color: @white;
    }
    
    .matetitle {
      color: rgba(255,255,255,0.5);
    }
    
    .matebio {
      color: @white;
    }
  }
  
  #teambox {
    position: relative;
    
    #teamgraph {
      svg {
        max-height: 500px;
      }
    }
  }
}

#how {
  background: #eceff1;
  
  .steps {
    .step1,
    .step2,
    .step3,
    .currently {
      .transition();
      transform: scale(0);
      
      &.scaleIn {
        transform: scale(1);
      }
    }
    
    .step1 {
      .step {
        &:before {
          position: absolute;
          content: '';
          height: 5px;
          border-top: 2px dotted @orange;
          width: 200%;
          top: 25px;
          left: 50%;
          .transition(@prop:all, @duration:1s, @type:linear);
          transform-origin: left;
          transform: scaleX(0);
        }
        &.active {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  
  .step {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .circlenum {
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    color: #333;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    background: #eceff1;
    .transition(@prop:all, @duration:0.3s, @type:linear);
    
    &:hover, &.active {
      cursor: default;
      transform: scale(1.2);
      border: 2px dotted @orange;
    }
  }
  
  .explainstep {
    margin: 15px auto;
    display: block;
    min-height: 80px;
    
  }
}

#who {
  #pharma {
    .researchlink {
      text-transform: uppercase;
      text-align: center;
    }
  }
}