@bluegrey:            #607d8b;

@bluegrey-darken4:    #263238;

@bluegrey-lighten4:   #cfd8dc;

@bluegrey-lighten3:   #b0bec5;

@orange:              #ff9800;

@orange-lighten3:     #ffcc80; 

@white:               #fff;
@black:               #000;