doctype

html.no-js

  head
    
    title Data2Discovery
    
    // SO META
    meta(charset='utf-8')
    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge')
    meta(
      name='description'
      content='')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1')
    
    // LINEAR ICONS
    script(src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js")
    
    // CUSTOM STYLES
    link(
      rel='stylesheet'
      href='/styles/styles.css')
      
    // FAVICON
    link(
      rel="shortcut icon" 
      type="image/x-icon" 
      href="/images/d2d_favicon.ico")
    
    // GOOGLE WEB FONT
    link(
      href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400' 
      rel='stylesheet' 
      type='text/css')
    
    // GOOGLE ANALYTICS
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65676626-1', 'auto');
      ga('send', 'pageview');

    
  body

    #mainwrapper

      .navbar-fixed
        nav.blue-grey.darken-4#topbar
          .nav-wrapper
            a.brand-logo(href="#index-banner") 
              img(src="/images/logo/d2d-white.png")
            a.button-collapse(href="#" data-activates="mobilenav")
              i.mdi-navigation-menu
            ul.right.hide-on-med-and-down
              li.scrolllink
                a(href="#what") What it is
              li.scrolllink
                a(href="#how") How we work
              li.scrolllink
                a(href="#who") Who we work with
              li.scrolllink
                a(href="#about") About
              //li.scrolllink
                a(href="#workwithus") Work With Us
                
            //same nav for mobile menu
            ul.side-nav#mobilenav
              li.scrolllink
                a(href="#what") What it is
              li.scrolllink
                a(href="#how") How we work
              li.scrolllink
                a(href="#who") Who we work with
              li.scrolllink
                a(href="#about") About
              //li.scrolllink
                a(href="#workwithus") Work With Us
            

      #index-banner.section.no-pad-bot
        #network
        .container
          .container-content
            .row.center
              h1.center.orange-text SEMAP ENGINE&#8482;
              h5.orange-text.text-lighten-3 Harness the power to solve difficult data problems
              
      .container
        section#what
          h3.center A unique approach to data analytics
          .row
            .analytics-container
              .choices
              
                .choice.current
                  h5.choice-title.current Current Data Analytics
                  p.choice-description.current
                    | Current data analytics approaches make “black box” predictions and require highly curated, homogenous data.
                  .analytic-image
                    .image-container.current
                      img.analytics.current(src="/images/data-analytics/currentanalytics.svg")
                      
                .choice.semap
                  h5.choice-title.semap SEMAP&#8482; Data Analytics
                  p.choice-description.semap
                    | SEMAP&#8482; can map together a wide range of data, of different types and from different sources, and therefore is able to identify indirect but statistically significant associations in data not found through other methods.
                  .analytic-image
                    .image-container.semap
                      img.analytics.semap(src="/images/data-analytics/SEMAPanalytics.svg")
              
                  
          .row
            .col.s12.m6.l4.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/smart.svg")
                .whattitle
                  h5.center Smart
              .whatblurb
                p Using this mapped data, SEMAP&#8482; can make predictions of connections between data points that are clear, interpretable, and visual - leading to insights that are understandable, actionable and based on all the available data.


            .col.s12.m6.l4.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/flexible.svg")
                .whattitle
                  h5.center Flexible
              .whatblurb
                p Using a unique process of semantically mapping the data sources,connections can be identified that cross existing domain silos to solve a variety of complex business problems.


            .col.s12.m6.l4.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/semantic.svg")
                .whattitle
                  h5.center Semantic
              .whatblurb
                p Implements lightweight semantic connections between datasets to leapfrog data integration headaches and allows for domain-specific knowledge to be encoded in the mapping to optimize predictions.


            .col.s12.m6.l6.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/scalable.svg")
                .whattitle
                  h5.center Scalable
              .whatblurb
                p SEMAP&#8482; is highly scalable to increasing data size and complexity. It is currently being applied in domains such as healthcare, accounting, and pharmaceutical research where the data sets are large and of different types.


            .col.s12.m6.offset-m3.l6.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/robust.svg")
                .whattitle
                  h5.center Robust
              .whatblurb
                p At the core of SEMAP&#8482; is a set of proprietary graph-based algorithms that can rapidly predict, profile, and rank statistically significant connections in large, complex, heterogeneous networks of data brought from different silos.


            //.col.s12.m6.l4.whatcolumn
              .whatheader
                .whatgraphic-exo
                  img.whatgraphic(src="/images/what-graphics/unique.svg")
                .whattitle
                  h5.center Unique
              .whatblurb
                p Unlike current data analytics approaches that make “black box” predictions and require highly curated, homogenous data, SEMAP&#8482; can map together a wide range of data, of different types and from different sources, and therefore able to identify indirect but statistically significant associations in data not found other methods.
                  
          
      section#how
        .container
          h3.center Our Workflow
          .row.steps
            .step1.col.s12.m4
              .step
                span.circlenum.one 1
                p.explainstep Data2Discovery works closely with partners in customized R&D projects where we apply SEMAP&#8482; to proprietary customer data sources.

            .step2.col.s12.m4
              .step
                span.circlenum.two 2
                p.explainstep We create an infrastructure, called a SEMFRAME&#8482;, that is specifically designed to meet the data complexities and business problems to be solved for a particular customer. 

            .step3.col.s12.m4
              .step
                span.circlenum.three 3
                p.explainstep SEMAP&#8482; and SEMFRAME&#8482; output is customizable based on customer needs and can be visualized via the user interface or integrated with existing platforms. 

            .row.currently
              .col.s12
                h5.center Currently...
                p 
                  | We are developing SEMFRAMES&#8482; for sophisticated drug discovery problems in 
                  a(href='#pharma') pharmaceutical research, 
                  | and for finding cost-saving efficiencies in patient account resolution for the 
                  a(href='#health') healthcare industry.
    
      section#who
        .container
          h3.center How SEMAP&#8482; is transforming...
          .row
            .col.s12#pharma
              h5 Drug Discovery Informatics
              p 
                |Through collaborations with the 
                a(href='http://www.nih.gov/' target="_blank") NIH
                |, 
                a(href='https://www.indianactsi.org/' target="_blank") the Clinical and Translational Sciences Institute of Indiana
                |, and a partnership with a large pharmaceutical company, we are developing a SEMFRAME&#8482; for identifying important molecular connections that relate chemical and biological experiment results to clinical phenotypes - macro level markers related to diseases such as cardiovascular disease, diabetes and cancer. 
              p By mapping together data from the smallest molecular compounds and proteins through to clinical and tissue-level data, and drawing in both public and proprietary data sources, scientific decision makers can make fully informed decisions about the next steps to take in complex drug discovery projects.
              p.researchlink
                a(href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002574" target='_blank') view prior research
              
            .col.s12#health
              h5 Healthcare Data Science
              p In a project with a large public accounting firm with hundreds of healthcare provider clients, we are developing a SEMFRAME&#8482; that draws together millions of data points on patient accounts to identify and automatically resolve problematic account transaction patterns that currently have to be resolved manually, costing millions of dollars per year for a typical large healthcare provider.
              
            .col.s12#possible
              h5 Other areas of business where SEMAP&#8482; technology can be applied:
              .col.s6.m6
                h5 Industry Solutions
                ul
                  li Accounting
                  li Health Insurance
                  li Risk Assessment
                  li Fraud and Abuse
              .col.s6.m6
                h5 IT Data Solutions
                ul
                  li Metadata Management 
                  li Data Integration
                  li Data Collection
                  li Data Curation
              
      
      section#about
        .row
          h3.center About Our Team
          #biobox.col.s12.m3
            h4.matename DATA2DISCOVERY
            h5.matetitle Explore team roles and bios by clicking on the network nodes.
            p.matelink
            p.matebio

          #teambox.col.s12.m9
            #teamgraph

      
      //section#workwithus
        .container
          .row
            .col.s12
              h3.center Work With Us
          //include network.jade
      
      
        br
        br
        .section
      footer.page-footer.blue-grey.darken-4
        .container
          .row
            .col.m6.s12
              h5.blue-grey-text Company Bio
              p.blue-grey-text.text-lighten-4
                | Data2Discovery is based in Bloomington, Indiana, and is run by an energetic management team with extensive experience in data science, scientific computing, semantic technologies and business growth. 
            .col.m6.s12
              h5.blue-grey-text Connect
              ul
                li.blue-grey-text.text-lighten-4
                  | P.O. Box 5456, Bloomington, IN 47407
                  svg.lnr.lnr-map-marker.left.white-text
                    use(xlink:href="#lnr-map-marker")
                li.blue-grey-text.text-lighten-4
                  | 812.202.6190
                  svg.lnr.lnr-phone.left.white-text
                    use(xlink:href="#lnr-phone")
                li
                  a.blue-grey-text.text-lighten-3(href="#!") info@d2discovery.com
                    svg.lnr.lnr-envelope.left.white-text
                      use(xlink:href="#lnr-envelope")

        .footer-copyright
          .container
            p.blue-grey-text.center-align 2014 Data2Discovery Inc.

    
    script(src='/scripts/vendor/vendor.js')
    script(src='/scripts/js/main.js')
    